{
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "es6": true
    },
    "rules": {
        "semi": [
            "error",
            "always"
        ],
        "quote-props": [
            "error",
            "as-needed"
        ],
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true
            }
        ],
        "array-element-newline": [
            "error",
            {
                "multiline": true,
                "minItems": 9
            }
        ],
        "array-bracket-newline": [
            "error",
            {
                "multiline": true,
                "minItems": 9
            }
        ]
    },
    "overrides": [
        {
            "files": [
                "test/**/*.js",
                "test/**/*.json"
            ],
            "excludedFiles": "**/dist/**"
        }
    ]
}